<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            width: 1200px;
            margin: 0px auto;
        }
    </style>
</head>

<body>
    <div id="vm" class="container d-flex vh-100 justify-content-center align-items-center">

        <template v-if="userState==-1">
            <div class="card border-0">
                <div class="card-header bg-white">
                    <div class="card-title">
                        <h4>欢迎注册</h4>
                    </div>
                </div>
               
                <div class="card-body">
                    <div class="form-group">
                        <user-input></user-input>
                    </div>
                    <div class="form-group">
                        <pass-group></pass-group>
                    </div>
                    <div class="form-group">
                        <btn-nou v-on:qq="register"></btn-nou>
                    </div>
                </div>
                <div class="card-footer bg-white">
                    <div class="text-center">
                        <a href="#" class="text-muted" v-on:click="userState=0">如你注册请点击此处登录</a>
                    </div>
                </div>
            </div>
        </template>
       


        <template v-if="userState==0">
            <div class="card border-0 d-flex justify-content-center">
                <div class="card-header bg-white">
                    <div class="card-title">
                        <h4>欢迎登录</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <user-input></user-input>
                    </div>
                    <div class="form-group">
                        <pass-group></pass-group>
                    </div>
                    <div class="form-group">
                        <log-btn v-on:bb="login"></log-btn>
                    </div>
                </div>
                <div class="card-footer bg-white">
                    <div class="text-center">
                        <a href="#" class="text-muted" v-on:click="userState=-1">如你注册请点击此处注册</a>
                    </div>
                </div>
            </div>
        </template>
    
        <template v-if="userState==1">
            <div class="d-flex vh-100 justify-content-center align-items-center">
                <h1>欢迎,{{user.username}}</h1>
                <div class="text-center">
                    <a href="#" class="text-muted" v-on:click="userState=0">点击此处退出</a>
                </div>
            </div>
        </template>
    </div>

    <template id="passgroup">
        <div class="input-group">
            <input :type="isShowPassword ?'text':'password'" class="form-control" v-model="password" />
            <div class="input-group-append">
                <button class="btn btn-primary"
                    @click="isShowPassword =!isShowPassword">{{isShowPassword ? '隐藏':'显示'}}</button>
            </div>
        </div>
    </template>
    <!-- 用户名输入组 -->
    <template id="userinput">
        <input type="text" class="form-control" v-model="username" />
    </template>
    <!-- 注册按钮的组件 -->
    <template id="zhucebtn">
        <button class="btn btn-primary btn-block" v-on:click="register" :disabled="isDisabledButton">注 册</button>
    </template>
    <!-- 登录按钮的组件 -->
    <template id="logbtn">
        <button class="btn btn-primary btn-block" v-on:click="login">登 录</button>
    </template>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
     
        Vue.component('user-input', {
            template: '#userinput',
            data: function () {
                return {
                   
                    username: '',
                }
            }
        })
      
        Vue.component('pass-group', {
            template: '#passgroup',
            data: function () {
                return {

                    isShowPassword: false,
                    password: '',
                }
            }
        })
        Vue.component('btn-nou', {
            template: '#zhucebtn',
            data: function () {
                return {
                    
                    isDisabledButton: false,
                }
            },
            methods: {
                register() {
                    this.$emit('qq')
                }
            }
        })
        Vue.component('log-btn', {
            template: '#logbtn',
            methods: {
                login() {
                    this.$emit('bb')
                }
            }
        })



        let vm = new Vue({
            el: '#vm',
            data: {
                userState: -1,
                username: '',
                password: '',
                user: { username: '', password: '' }
            },
            methods: {
                init() {
                    this.username = ''
                    this.password = ''
                },
                keyongpanduan() {
                    if (this.username.length == 0 || this.password.length == 0) {
                        this.isDisabledButton = true;
                        console.log(111)
                    } else {
                        this.isDisabledButton = false;
                        console.log(222)
                    }
                },
                register() {
                    this.user.username = this.username
                    this.user.password = this.password
                    console.log("注册成功")
                    this.userState = 0
                    this.init();
                },
                login() {
                    if (this.username == this.user.username && this.password == this.user.password) {
                        alert("登录成功");
                        this.userState = 1;
                        this.init();
                    } else {
                        alert("登录失败,请重新登录")
                        this.init();
                    }
                }
            },
        })
    </script>
</body>

</html>   